.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.header-address {
  margin-left: auto;
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
