/* Шапка сайту */
.header {
  background-color: #ffffff;
}

/* Контейнер навігації */
.header-nav {
}

/* Список посилань */
.nav-list {
  list-style: none;
}

/* Елемент списку */
.nav-item {
}

/* Посилання навігації */
.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

/*  стан посилання при наведенні */
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
