.portfolio-card {
  background-color: #ffffff;
}
.portfolio-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* Створює чистий відступ між заголовком та контентом */
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
   
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
