/* контейнер команди */
.team-section {
  background-color: #f9f9f9;
  /* Свойство padding удалено */
}

/* Список  */
.team-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* КАРТКА КОМАНДИ */
.team-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  text-align: center;
  /* Свойство border-radius удалено */
  /* Свойства padding, display: flex, gap, flex удалены ранее */
}

/* Оформлення тексту на її елементів внутрі карточки */
.team-card-name {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.team-card-position {
  font-size: 14px;
  color: #777777;
}
